:host {
  ion-content {
    background-color: #ECF0F1;
  }
  ion-list {
    background-color: transparent;
    contain: none;
  }
  .no-projects {
    max-width: 500px;
    padding: 30px 20px 10px 40px;
    margin: 40px auto;
    p {
      white-space: pre-wrap;
      margin: 10px 0px 0px !important;
    }
    button {
      margin-top: 20px !important;
    }
  }
  ion-grid.dashboard-header {
    margin: 0px 0px 20px;
    padding: 0px 20px;
    background-color: var(--ion-color-primary);
    width: 100%;
    height: 45px;
    ion-col {
      padding: 0;
      .info {
        text-align: center;
        font-size: 0.9em;
        font-weight: 700;
        color: #fff;
      }
    }
    ion-col:last-of-type > .info {
      text-align: right;
    }
    ion-col.type {
      margin-left: 5px;
      width: 45px !important;
      height: 45px !important;
      background-color: var(--ion-color-primary);
      img {
          padding: 10px;
          object-fit: contain;
          height: 100%;
          width: 100%;
          filter: brightness(1);
        }
    }
  }
  ion-item.project {
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    position: relative;
    padding: 0.5em 0.5em 0.5em 0;
    ion-spinner {
      width: 15px;
      height: 15px;
    }
    ion-grid {
      width: 100%;
    }
    ion-col {
      padding: 0;
    }
    .mobile {
      padding: 0.75em 0.25em;
      .header {
        position: relative;
      }
      ion-col.type {
        background-color: #e6e6e6;
        max-width: 50px;
        max-height: 50px;
        img {
          padding: 10px;
          object-fit: contain;
          height: 100%;
          width: 100%;
          filter: brightness(0.25);
        }
      }
      .chat {
        width: 30px;
        position: absolute;
        top: 0.25em;
        right: 0.75em;
      }
      .details {
        position: relative;
        padding-top: 1em;
        .title {
          position: relative;
          ion-spinner {
            float: left;
          }
          color: #000;
        }
        ion-col {
          text-align: left;
          display: inline-block;
          width: 33%;
          margin: auto;
          p {
            line-height: 0.25;
            color: #666;
          }
          p.info {
            color: #000;
            font-weight: 600;
            white-space: pre-wrap;
          }
        }
      }
    }
    .desktop {
      .type {
        width: 50px !important;
        height: 50px !important;
        background-color: #e6e6e6;
        img {
          padding: 10px;
          object-fit: contain;
          height: 100%;
          width: 100%;
          filter: brightness(0.25);
        }
      }
      .chat {
        padding-top: 10px;
        img {
          float: right;
          width: 30px;
        }
        .inactive {
          filter: saturate(0);
        }
      }
      .section {
        position: relative;
        float: left;
        width: 15%;
        height: 50px;
        ion-spinner {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
      .info {
        line-height: 20px;
        text-align: center;
        font-weight: 700;
      }
    }
  }
  .project:hover {
    background-color: rgba(255,255,255,0.5);
  }
}