<ion-header>
  <app-navbar
    [title]="'Dashboard'"
    [tabs]="['IN_PROGRESS', 'COMPLETED']"
    [selectedTab]="selectedTab"
    [user]="user"
    (onReload)="fetchProjects()"
  ></app-navbar>
</ion-header>

<ion-content padding>

  <ion-grid class="dashboard-header desktop">
    <ion-row>
      <ion-col size="auto" class="type">
        <img src="assets/images/BEDROOM.png">
      </ion-col>
      <ion-col>
        <p class="info">Client Name</p>
      </ion-col>
      <ion-col>
        <p class="info">Project Type</p>
      </ion-col>
      <ion-col>
        <p class="info">Last Edited</p>
      </ion-col>
      <ion-col>
        <p class="info">Status</p>
      </ion-col>
      <ion-col>
        <p class="info">Time Left</p>
      </ion-col>
      <ion-col>
        <p class="info">Messages</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none">

    <ion-item text-center class="no-projects" *ngIf="tab == 'IN_PROGRESS' && !projects && !isStaff">
      <h2>We welcome you<span *ngIf="user">, {{ user.firstName }}</span>.</h2>
      <p>You have not started a project yet. We encourage you to start a new one.
      <ion-button expand="block" (click)="startProject()">START NEW PROJECT</ion-button>
    </ion-item>

    <ion-item text-center class="no-projects" *ngIf="tab == 'COMPLETED' && !projects && !isStaff">
      <h2>Oops.</h2>
      <p>Looks like you have not finished a project yet. If you haven't already, you can start a new project at any time.</p>
      <ion-button expand="block" (click)="startProject()">START NEW PROJECT</ion-button>
    </ion-item>

    <ion-item text-center class="no-projects" *ngIf="!projects && isStaff">
      <h2>HANG TIGHT</h2>
      <p>We are working hard to connect you with the right clients for you. Check back soon for assigned projects.</p>
    </ion-item>

    <ion-item class="project" *ngFor="let project of projects" (click)="selectedProject(project)">
      <ion-grid class="mobile">
        <ion-row class="header">
          <ion-col class="type" align-self-start>
            <img src="assets/images/{{ project.room }}.png">
          </ion-col>
          <ion-col class="chat" align-self-end>
            <img src="assets/images/chat.png">
          </ion-col>
        </ion-row>
        <ion-row class="details">
          <p class="title">
            <b>
            {{ project.client.first_name }}  {{ project.client.last_name[0] }} - {{ project.room | readableRoom }} Project
            </b>
          </p>
          <ion-col>
            <p class="info">{{ project.modified_date | date:"MM/dd/yy" }}</p>
            <p class="sub-title">Edited</p>
          </ion-col>
          <ion-col>
            <p class="info">{{ project.status | readableStatus }}</p>
            <p class="sub-title">Phase</p>
          </ion-col>
          <ion-col>
            <p class="info">{{ project.end_date | daysLeft }}</p>
            <p class="sub-title">Days Left</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="desktop">
        <ion-row>
          <ion-col size="auto" class="type">
            <img src="assets/images/{{ project.room }}.png">
          </ion-col>
          <ion-col>
            <p class="info">{{ project.client.first_name }} {{ project.client.last_name[0] }}</p>
          </ion-col>
          <ion-col>
            <p class="info">{{ project.room | readableRoom }}</p>
          </ion-col>
          <ion-col>
            <p class="info">{{ project.modified_date | date:"MM/dd/yy" }}</p>
          </ion-col>
          <ion-col>
            <p class="info">{{ project.status | readableStatus }}</p>
          </ion-col>
          <ion-col>
            <p class="info">{{ project.end_date | daysLeft }}</p>
          </ion-col>
          <ion-col class="chat">
            <img src="assets/images/chat.png">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  
  </ion-list>
</ion-content>